<?xml version="1.0"?>

<config>
    <modules>
        <Unipayment_Payment>
            <version>1.0.1</version>
        </Unipayment_Payment>
    </modules>
    <global>
        <models>
            <unipayment>
                <class>Unipayment_Payment_Model</class>
                <resourceModel>unipayment_mysql4</resourceModel>
            </unipayment>
            <unipayment_mysql4>
                <class>Unipayment_Payment_Model_Mysql4</class>
                <entities>
                    <api_debug><table>unipayment_api_debug</table></api_debug>
                </entities>
            </unipayment_mysql4>
        </models>
		<helpers>
            <unipayment>
                <class>Unipayment_Payment_Helper</class>
            </unipayment>
        </helpers>
        <resources>
            <unipayment_setup>
                <setup>
                    <module>Unipayment_Payment</module>
					<class>Unipayment_Payment_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </unipayment_setup>
            <unipayment_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </unipayment_write>
            <unipayment_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </unipayment_read>
        </resources>
        <blocks>
            <unipayment><class>Unipayment_Payment_Block</class></unipayment>
            <payment>
                <class>Mage_Payment_Block</class>
            </payment>			
        </blocks>
    </global>
    <frontend>
        <secure_url>
            <unipayment_standard>/unipayment/standard</unipayment_standard>
        </secure_url>
        <routers>
            <unipayment>
                <use>standard</use>
                <args>
                    <module>Unipayment_Payment</module>
                    <frontName>unipayment</frontName>
                </args>
            </unipayment>
        </routers>
        <translate>
            <modules>
                <Unipayment_PaymentForm>
                    <files>
                        <default>Unipayment_Payment.csv</default>
                    </files>
                </Unipayment_PaymentForm>
            </modules>
        </translate>
        <layout>
            <updates>
                <unipayment>
                    <file>unipayment.xml</file>
                </unipayment>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <unipayment>
                    <file>unipayment.xml</file>
                </unipayment>
            </updates>
        </layout>		
        <translate>
            <modules>
                <Unipayment_Payment>
                    <files>
                        <default>Unipayment_Payment.csv</default>
                    </files>
                </Unipayment_Payment>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <payment>
            <unipayment_standard>				
				<active>1</active>
                <payment_action>Payment</payment_action>
                <model>unipayment/standard</model>
                <title>UniPayment</title>
				<title>UniPayment</title>	
				<order_status>pending</order_status>
				<confirm_speed>medium</confirm_speed>					
				<processing_status>Complete</processing_status>				
				<environment>test</environment>
                <allowspecific>0</allowspecific>
            </unipayment_standard>
        </payment>
    </default>
</config>